{% extends "_base/index.twig" %}

{% block content %}
	<div class=" max-w-screen-sm text-left mx-auto flex gap-y-1 flex-col bg-white/80 border border-slate-100 p-10 rounded-md shadow-md">
		<h1 class="text-2xl font-bold">Starter Craft CMS site</h1>
		<p>This starter includes the following:</p>
		<p>
			<ul class="text-xs list-inside list-decimal">
				<li>
					<a href="https://ddev.com/">ddev</a>
				</li>
				<li>
					<a href="https://www.gnu.org/software/make/manual/make.html">Makefile</a>
					-
					<span class='font-mono bg-gray-200 px-1'>make dev</span>
					or
					<span class='font-mono bg-gray-200 px-1'>make build</span>
				</li>
				<li>
					<a href="https://nystudio107.com/docs/vite/">Vite build system preconfigured</a>
				</li>
				<li>
					<a href="https://nystudio107.com/blog/implementing-critical-css">Critical CSS preconfigured</a>
					- expects an Apple Silicon Mac</li>
				<li>
					<a href="https://github.com/khalwat/vite-plugin-favicon">Favicon build system preconfigured w PSD template file</a>
				</li>
				<li>
					<a href="https://tailwindcss.com/">Tailwind CSS</a>
					<span class='bg-mint-500 text-white px-1 rounded-xs text-[10px]'>v4</span>
				</li>
				<li>
					<a href="https://partytown.builder.io/">Partytown</a>
				</li>
				<li>
					<a href="https://www.npmjs.com/package/progressive-share-button" class="underline">Progressive Share Button</a>
					<progressive-share-button url="https://www.npmjs.com/package/progressive-share-button" icon-size="16" title="Progressive Share Button" text="A web component that makes it simple to share your content." smart-share></progressive-share-button>
				</li>
				<li x-data="{ message: 'Alpine.js' }">
					<a href="https://alpinejs.dev/" x-text="message">Alpine.js is not installed</a>
				</li>
				<li>External links open in a new window</li>
			</ul>
		</p>
	</div>
{% endblock %}
